
@{
    ViewBag.Title = "create";
}

<h2>create</h2>

<form method="post">
    <label>Num: </label>
    <input type="text" name="num" />
    <br />
    <label>Color: </label>
    <input type="text" name="color" />
    <br />
    <label>Model: </label>
    <input type="text" name="model" />
    <br />
    <label>Manfacture: </label>
    <input type="text" name="manfacture" />
    <br />
    <input type="submit" value="Save" />
</form>

