
@{
    ViewBag.Title = "customError_3";
}

<h2>customError_3</h2>

<h3 style="color:green">**************Custom error 3******************</h3>
<h3>Error message: @Model.Exception.Message</h3>
<h3>Controller: @Model.ControllerName</h3>
