
@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>
<label>Your ID is: @ViewBag.id</label>
<br />
<label>Your Name is: @ViewBag.name</label>
<br />
@*<label>@ViewBag.image</label>*@
<br />

<img src="/images/@ViewBag.image"/>
@*<img src="/@ViewBag.image" />*@



